.grid {
  background-image: url("../../../../../../assets/builds.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vmin;
}

@media screen and (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}
